#users
  %table
    %th Name
    %th Picture
    %th Balance
    %th Delete
    - @users.each do |user|
      %tr
        %td
          - if user.is_admin
            %span.label.alert= user.name
          - else
            %span.label.success= user.name
          %td= number_to_currency(user.balance)
          %td= image_tag(user.image)
          %td= link_to('Delete', user, :method => :delete, :confirm => "sure?", :class => 'button radius alert tiny') if user != @auth #@auth is who YOU are