%h1 Songs!

%h3 Songs you own
.row
  .two.columns

  .eight.columns
    %table
      %th Name
      %th Artist
      - owned_songs.each do |song|
        %tr{:class => cycle('row0', 'row1')}
          %td= link_to(song.name, song)
          %td= link_to(song.artist.name, song.artist)

  .two.columns


%h3 Songs you don't own
.row
  .two.columns
    = link_to('New Song', new_song_path, :class => 'button radius tiny') if is_admin
  .eight.columns
    %table
      %th name
      %th artist
      - if is_admin
        %th edit
      - not_owned_songs.each do |song|
        %tr{:class => cycle('row0', 'row1')}
          %td= link_to(song.name,song)
          %td= link_to(song.artist.name, song.artist)
          - if is_admin
            %td= link_to('Edit', edit_song_path(song) )
  .two.columns