.row
  .twelve.columns
    %table
      %th Song name
      %th Tunr web player &#169;
      %th Album name
      %th Cost
      %tr
        %td= @song.name
        - if owned_songs.include?(@song)
          %td= audio_tag(@song.filename, :controls => true )
        -else
          %td Purchase song to play
        %td= @album.name
        %td= number_to_currency(@song.cost)

.row
- if !owned_songs.include?(@song) && can_purchase
  .twelve.columns
    = link_to('Purchase Song', purchase_song_path, :class => 'button' )
    / = link_to('Purchase Album', purchase_album_path, :class => 'button')